---
const { name, price, period, description, features } = Astro.props;
---

<div class="bg-card text-card-foreground flex flex-col h-[430px] w-[330px] gap-6 rounded-xl border py-6 px-6 shadow-sm border border-border/60 transition-all hover:ring-1 hover:ring-foreground">
    <div class="gap-4 pb-3">
        <div className='flex items-center justify-between'>
            <div class="text-base font-medium">
                {name}
            </div>
        </div>
        <div className='flex items-baseline gap-0.5 mt-1'>
            <span class='text-2xl font-semibold text-foreground'>
                {price}
            </span>
            <span class='text-sm text-muted-foreground'>
                {period}
            </span>
        </div>
        <div class="text-muted-foreground text-sm mt-1">
            {description}
        </div>
    </div>
    <div class="flex-1 flex flex-col w-full">
        <ul class="space-y-2 flex-1">
            {features.map((f) => (
                <li
                    key={f}
                    class='flex items-center gap-2 text-sm text-muted-foreground'
                >
                    {f}
                </li>
            ))}
        </ul>
        <div class="mt-5 w-full self-end">
            {price === "Custom" ? (
                <a href="/" class='h-10 px-4 py-2 inline-flex items-center justify-center text-sm font-medium w-full gap-1.5 border border-input hover:bg-secondary cursor-pointer rounded-lg transition-colors'>
                    Kontakt Oss{' '}
                </a>
            ) : (
                <a href="/" class="h-10 px-4 py-2 inline-flex items-center justify-center text-sm font-medium w-full bg-primary text-primary-foreground hover:bg-primary/90 cursor-pointer rounded-lg transition-colors">
                    Velg
                </a>
            )
        </div>
    </div>
</div>
